@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

body {
  margin: 0;
  font-family: -apple-system, monospace, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer utilities {
  .scroll-box::-webkit-scrollbar {
    width: 6px;
  }
  .scroll-box::-webkit-scrollbar-track {
    background: transparent;
    background-color: transparent;
    border-radius: 16px;
    margin: 1px 0;
  }
  .scroll-box::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 16px;
    transition: all 0.2s;
  }
  .scroll-box:hover::-webkit-scrollbar-thumb {
    background-color: #555;
  }
  .scroll-box::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }
  .scroll-box::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
}

@keyframes float {
  0% { transform: translateY(0) translateX(0) rotate(0deg); }
  25% { transform: translateY(-15px) translateX(2px) rotate(10deg); }
  50% { transform: translateY(-30px) translateX(0px) rotate(20deg); }
  75% { transform: translateY(-15px) translateX(-2px) rotate(10deg); }
  100% { transform: translateY(0) translateX(0) rotate(0deg); }
}

.animate-float-fast {
  animation: float 10s ease-in-out infinite;
}

.animate-float {
  animation: float 16s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 20s ease-in-out infinite;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 1s 0s, color 1s 0s;
  transition-delay: calc(infinity * 1s);
}

